{% extends './index.html' %}

{% block title %}SB Admin 2 - 404{% endblock %}

<!-- Sidebar -->
{% block nav-item3 %}
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Login Screens:</h6>
            <a class="collapse-item" href="{% url 'login' %}">Login</a>
            <a class="collapse-item" href="{% url 'register' %}">Register</a>
            <a class="collapse-item" href="{% url 'forgot-password' %}">Forgot Password</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">Other Pages:</h6>
            <a class="collapse-item" href="{% url '404' %}">404 Page</a>
            <a class="collapse-item" href="{% url 'blank' %}">Blank Page</a>
          </div>
        </div>
      </li>
{% endblock %}
<!-- End of Sidebar -->

{% block page-content %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- 404 Error Text -->
          <div class="text-center">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">Page Not Found</p>
            <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
            <a href="{% url 'index' %}">&larr; Back to Dashboard</a>
          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock %}
