{% extends './base.html' %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  <style>
    div.container {
      width: 80%;
    }
  </style>
{% endblock %}

{% block javascript %}
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <script>
    $(document).ready(function(){
      $('#example').DataTable({
          columns: [
              { data: 'name' },
              { data: 'position' },
              { data: 'office' },
              { data: 'age', className: 'dt-body-left' },
              { data: 'start date' },
              { data: 'salary' }
          ],
          // columnDefs: [
          //   {
          //       targets: 3,
          //       className: 'dt-body-right'
          //   }
          // ]
      });
    });

    // $('#example').DataTable({
    //   data: data,
    //   columns: [
    //       { data: 'name' },
    //       { data: 'position' },
    //       { data: 'salary' },
    //       { data: 'office' }
    //   ]
    // });
  </script>
{% endblock %}
