<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>경영 정보 시스템(EIS)</title>
    <!-- Bootstrap 설정 CDN 방식 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="modal-dialog">
        <div class="panel page-header" style="text-align: center;">
            <h1 style="font-size: xx-large;">
                <img src="sist_logo.png" alt="sist_logo.png"> (주)대륜 EIS System <small>v1.0</small>
                <span style="font-size: small; color: #777777;">since 2019.02</span>
            </h1>
        </div>

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding: 35px 50px;">
                <h4><span class="glyphicon glyphicon-lock"></span> 로그인</h4>
                <label>정상적인 서비스 사용을 위해서 로그인해야 합니다.</label>
            </div>

            <div class="modal-body" style="padding: 40px 50px;">
                <form role="form" method="post">
                    <div class="form-group">
                        <label for="id_"> ID :</label><input type="text" class="form-control" id="id_" name="id_" placeholder="Enter ID" required="required">
                    </div>
                    <div class="form-group">
                        <label for="pw"> Password :</label> <input type="password" class="form-control" id="pw_" name="pw_" placeholder="Enter Password" required="required">
                    </div>
                    <button type="submit" class="btn btn-default btn-block">Login</button>
                </form>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</body>
</html>
